* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d1e23;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: space-around;
}

textarea {
  resize: none;
  border: none;
  padding: 8px;
  background-color: #3c3d46;
  color: white;
  outline: none;
  font-size: 24px;
  text-align: justify;
}

textarea:focus {
  border: 1px solid #8257e5;
}